@charset "UTF-8";
.headerWrap{margin:0 auto; width: 100%; overflow:hidden; background-color:rgba(5,195,157,0.7); z-index:999;}
	.headerLeft{float:left;}
	.headerLeft > .headerLeftItems{float:left; color:#fff;font-size: 18px; line-height: 64px; margin: 0 20px 0 20px;}
	.headerRight{float:right;}
	.headerRight > .headerRightItems{float:left; color:#fff; font-size: 18px;line-height: 64px;  margin: 0 20px 0 20px;}
	#logo{width:164px; height: 64px; cursor:pointer;}
	.search{float:left; line-height: 64px;}
	.search.headerRightItems > input{height:26px; width: 200px; margin-right:10px;}
	.search.headerRightItems > i{cursor:pointer;}
	
	.headerLeft > .headerLeftItems:hover{color:yellow;}
	.headerRight > .headerRightItems:hover{color:yellow;}
	#header{margin-bottom:100px;}
	.navWrap{width: 1400px; margin:0 auto; overflow:hidden;}
	.navItems{width:120px; border: 1px solid #ddd; border-radius: 25px; float:left; height: 50px; line-height: 50px; text-align: center; cursor:pointer; margin: 0 15px; font-weight: bolder;}
	#nav{margin-bottom:50px;}
	
	.mainWrap{overflow: hidden;}
	.mainItems{float:left; margin:20px; box-shadow: 5px 5px 5px 5px #ddd; cursor: pointer;}
	 
	.mainItems:nth-child(5n-4){margin-left: 0;}/*1 6 11 16  */
	.mainItems:nth-child(5n){margin-right: 0;}
	.mainWrap{width:1400px; margin:0 auto;}
	.mainItems{border:1px solid #ddd; width:calc( 1240px / 5 ); box-sizing: border-box;}
	.mainItemsTitle{text-align: center; font-size: 24px; margin:10px 0;}
	.mainItemsMid{overflow:hidden;}
	.mainItemsMidLeft{float:left; width:60%; overflow: hidden;}
	.mainItmesMidRight{float:right; width: 40%; overflow: hidden;}
	.mainItemsMid{margin-bottom: 20px; }
	.mainItmesNm, .mainItmesDate{overflow: hidden;}
	.mainItmesDate{line-height: 35px;}
	.mainItmesDate > p{text-align: center;}
	.mainItmesNm p {line-height: 35px;}
	.mainItmesNm > *{float:left;  margin:5px 0;}
	.mainItemsMidLeftTop  *{float:left;}
	.mainItemsMidLeftBot * {flaot:left;}/*  */
	.mainItemsMidLeftTop{overflow: hidden; margin-left:10px;}
	.mainItemsMidLeftBot{overflow: hidden; margin-left:10px;}/*  */
	.mainItemsMidLeft{overflow: hidden;}
	.mainItemsMidLeft * {float:left;}
	.mainItemsDesc{width: 90%; margin:0 auto;}
	.categoryColorBlue{background-color:rgba(102,141,246,0.7); height: 5px; width: 100%;}
	.categoryColorGreen{background-color:rgba(5,195,157,0.7); height: 5px; width: 100%;}
	.mainItemsDescWrap{background-color:#f4f4f4; height: 150px; position: relative; z-index: -3;}
	.mainItemsViews{margin-left:10px; margin-bottom: 10px;}
	.viewCnt, .goodCnt, .badCnt,.comment{line-height: 35px;}
	.mainItemsBad{margin-right: 10px;}
	#main{margin-bottom: 100px;}
	.mainItemsGood{margin-right: 10px;}
	.fa-comment, .fa-thumbs-down, .fa-thumbs-up, .fa-eye{font-size: 25px; line-height: 35px;}
	.fa-thumbs-down{vertical-align: bottom;}
	.navItems:hover{border-color:rgba(5,195,157,0.7)}
	.navItems.active{border-color:rgba(5,195,157,0.7) }
	.mainItemsComment{margin-right: 10px;}
	#certified{width: 100vw;  position: absolute;height: 100vh;}
	
	.mainItmesNm p{
		width:60px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
	}	
	.mainItemsTitle{
	 padding:0 5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
	}

  .mainItemsDesc {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	
	text-overflow: ellipsis;
	overflow: hidden;
	height:60px;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	line-height: 1.6em;
	height: 4.8em			

}