<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.devst.dao.BoardDao">

	<insert id="doWrite" >
		INSERT INTO board_tb ( brd_title, brd_content, brd_category, brd_hashtag, brd_image, mem_id) 
		VALUES ( #{brdTitle}, #{brdContent}, #{brdCategory}, #{brdHashtag}, #{brdImage}, #{memId});
	</insert>
	
	<select id="getBoardListAll" resultType="BoardVO">
		SELECT * FROM board_tb;
	</select>
	
	<select id="getMainBoardList10" resultType="HashMap" parameterType="String">
		SELECT  A.mem_nickname, B.*
		FROM member_tb as A
		INNER JOIN board_tb as B
		ON A.mem_id = B.mem_id
		
		<if test="value != null">
			<choose>
				<when test='value == "날짜순" '>
					ORDER BY B.brd_id DESC
				</when>
				<when test='value == "인기순" '>
					ORDER BY B.brd_like_count DESC
				</when>
				<when test="value.equals('조회순')">
					ORDER BY B.brd_view_count DESC
				</when>
				<when test="value.equals('댓글순')">
					ORDER BY B.brd_like_count DESC
				</when>
				
			</choose>
		</if>
		
			LIMIT 0,10;
		
		
		
		
	</select>
	
	<select id="getBoardStudyList" resultType="HashMap" parameterType="hashMap" ><!--스터디구인게시물  -->
		<!-- SELECT * FROM t_board where category='스터디구인' order by board_pk desc limit #{start}, #{num}; -->
		SELECT  A.mem_nickname, B.*
		FROM member_tb as A
		INNER JOIN board_tb as B
		ON A.mem_id = B.mem_id
		WHERE B.brd_category = '스터디구인'
		ORDER BY B.brd_id DESC
		LIMIT #{start}, #{num};
	</select>
	
	<select id="getBoardNomalList" resultType="HashMap" parameterType="hashMap"><!--일반게시물  -->
		SELECT  A.mem_nickname, B.*
		FROM member_tb as A
		INNER JOIN board_tb as B
		ON A.mem_id = B.mem_id
		WHERE B.brd_category = '일반'
		ORDER BY B.brd_id DESC
		LIMIT #{start}, #{num};
	</select>
	
	<select id="getPageNum" resultType="java.lang.Integer">
		SELECT (TRUNCATE(COUNT(*)/10,0)+1) AS cnt FROM board_tb WHERE brd_category = #{brd_category};
	</select>
	
	<select id="getBoardOneInfo" resultType="hashMap">
		SELECT  A.mem_nickname, B.*
		FROM member_tb as A
		INNER JOIN board_tb as B
		ON A.mem_id = B.mem_id
		WHERE B.brd_category = #{brdCategory} AND B.brd_id = #{brdId};
	</select>
	
</mapper>