<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.co.devst.dao.SecurityUserAuthDAO">
	<select id="selectUserById" resultType="SecurityUserDetail">
		<![CDATA[
			SELECT 
				*
			FROM
				member_tb_copy
			WHERE
				mem_email = #{memEmail}
		]]>	
	</select>
</mapper>