<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.devst.dao.UserDao">

	<select id="emailChk" resultType = "int">
		SELECT count(*) 
		FROM member_tb
		WHERE mem_email like CONCAT (#{mem_email}, '%')
		AND mem_email like CONCAT ('%', #{mem_email})
	</select>
	
	<insert id="doJoin">
		INSERT INTO member_tb (mem_email, mem_password, mem_username, mem_nickname, mem_profile_image) 
		VALUES (#{mem_email}, #{mem_password}, #{mem_username}, #{mem_nickname}, #{mem_profile_image})
	</insert>
</mapper>