<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!--카멜 표기법 맵핑  -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="kr.co.devst.model.BoardVO" alias="BoardVO"/>
		<typeAlias type="kr.co.devst.model.UserVO" alias="UserVO"/>
		<typeAlias type="kr.co.devst.model.SecurityUserDetail" alias="SecurityUserDetail"/>
	</typeAliases>
	
</configuration>