@charset "UTF-8";
#container {
	width: 100%;
}
.sub_container {
	width: 600px;
	margin: 70px auto;
}

.sub_container h2 {
	text-align: center;
}

.sub_container form {
	width: 100%;
	margin: 0 auto;
	font-family: 'Cafe24Simplehae';
}

.sub_container .join_table {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	border-collapse: collapse;
}

.join_table .label_row {
	width: 100%;
	text-align: left;
	padding: 25px 0 12px 0;
}

.join_table tr {
	height: fit-content;
}

.join_table small {
	display: inline-block;
	float: right;
}

.small_input input[type="text"] {
	height: 40px;
	width: 85%;
}

.big_input input[type="text"], .big_input input[type="password"],
	.big_input select {
	height: 40px;
	width: 99.9%;
}

.tel_row input[type="text"] {
	width: 184px;
	height: 40px;
}

.checkBtn {
	width: 75px;
	height: 46px;
	border: none;
	margin-left: 5px;
	line-height: 47px;
	background: #021944;
	color: #fff;
	cursor: pointer;
	text-align: center;
	padding-bottom: 10px;
}